<h1>Eat-Da-Burger</h1>

<ul>
    {{#each burger}}
    <li>
        <p>ID: {{id}}</p>
        <p>Burger: {{burger_name}}</p>
        {{!-- <p>Button to submit input</p> --}}
    </li>
</ul>

<ul>
    {{#each devored}}
    <li>
        <p></p>
    </li>
</ul>